<%- include('shared/header')%>
    <div class="container my-5 p-5">

        <h2>Welcome in EJS Home</h2>

        <a href="http://localhost:3000/logout" class="m-auto btn btn-danger"> logOut</a>
    </div>


    <%- include("shared/footer") %>